API_ID= 28572091
API_HASH= 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN= 8048419934:AAGDcY5Bg_0sxylDi9p35hz9H4MSehjCG9g
LOGGER_ID= -1003026521435
MONGO_DB_URI= mongodb+srv://mrarya213612:hvidL8y8dcansVyi@arya.3p8uutx.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 6014895515
STRING_SESSION= BQGz-bsAM8YxlM6rmzuFlB1jW0o9XdS2mUE1Y7iCoMVal3XS8A20OoFSsq-Z_Y2p85Hqlcgsx1YJWGsCn0Lq5v-nLH8xUFhNt6iFqaRCZe5nDfwAnVfMot-HzFnEd-vkyfbFi2xuX9diMoIDDUAaVBPhCBaILKg-QeyVgNZWwA83DNgQjORRRL-pKLyX4HCIzXIa1EbrTnPm239vrAnVUxAwWLaZCDn6RiM2lenuMLuz1n--u1txchcFiZBk0vtQQN_OZgTyHDVO2Z1SJ0oZta82yv5QacOw9U3G3sZmU7O9XOjgUiOhBwQK7lip1iRzS89MSPZR8Pl57CFo5ekVtByAercvyQAAAAGxStM3AA